<!doctype html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">
  <title>DirtyChore</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../css/app.css">
  <script src="../bower_components/angular/angular.js"></script>
</head>
<body>
	<div class="container">
		<h5>DirtyChore</h5>
		<div class="row">
			<div class="col-md-4">
				<h2>img goes here</h2>
			</div>
			<div class="col-md-8">
				<h2>NAME</h2>
			</div>
		</div>
		<div class="row">
			<h3>Your dirty chore of the week is:</h3>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h2>img goes here</h2>
			</div>
			<div class="col-md-6">
				<h2>CHORE</h2>
			</div>
			<div class="col-md-3">
				<button class="btn btn-primary btn-block btn-lg">Done</button>
			</div>			
		</div>
	</div>
</body>
</html>